
@{
    ViewBag.Title = "关于华信";
}

<div>
    <img src="~/Content/about/w-1.jpg" style="width:100%; height: auto;" />
</div>

<ul style="list-style:none; padding: 0px; margin: 0px;">
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长春华信气象科技有限公司是专门研制、开发和生产各种气象自动观测系统、气象业务软件以及从事气象设备安装和气象产品技术服务的高新技术企业。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承：“技术创新、质量至上、重约守信”的方针，为顾客和社会提供满意的气象产品和技术服务。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司具有现代化的研发生产环境和雄厚的技术开发实力，拥有先进的生产和测试设备，产品性能可靠，质量上乘，企业通过了GJB9001B-2009、GB/T19001-2008/ISO9001：2008质量管理体系认证。根据国家气象局计量中心的传递标准建立了企业质检中心，并培训质检人员，建立了生产过程和出厂检验的技术规范及质量体系。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华信公司的产品广泛应用于气象预报、大气探测、林业、农业、海洋、海事、交通、环境保护、车载移动气象服务系统等领域，公司自成立以来，已为这些部门提供了大量不同适用范围的气象环境监测系统和相关的软硬件产品、在业内受到了广泛的好评。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发的气象仪器设备相继在神舟、嫦娥系列卫星发射的气象保障中和各试验基地广泛使用。设备运行良好，数据采集准确，为军队现代化气象的试验指挥、决策提供了及时可靠的气象数据。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发的基于“北斗”通讯卫星传输的便携式无人值守自动气象站，在5•12汶川特大地震中，因其他气象设备均受电力和通讯困扰的关键时刻，为堰塞湖排险发挥了重要作用，受到了国家气象局的嘉奖。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发成功的海港气象自动观测系统，先后在“三峡工程”以及全国各大港口广泛地安装使用，目前国内港口的VTS系统都是配备我公司的气象自动观测系统，相当于国际同类产品水平。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发的海洋气象环境监测系统已成功应用于远望号和国家科学考察船，多次远赴南极进行科学考察。海洋浮标自动气象监测系统已用于渤海、南海海洋水文调查。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发的机动自动气象站通过了中国气象局考核，并取得了中国气象局颁发的技术装备许可证。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研制开发生产的森林火险预警监测系统，在国家林业局森林防火预警监测信息中心公开招标的项目中，以最高得分获得中标，该系统近几年来已成功地在全国林业部门实施并运行，迄今为止，已安装完成了数千台森林火险预警监测设备，成为国家林业局的示范系统。</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华信公司拥有一批高素质、经验丰富的专家型专业技术队伍，并建设了标准化的研发中心、生产中心，企业下设研发部、生产部、销售部和综合部等部门，大学以上人员占企业员工的80%。几年来企业培养了一批年轻的软硬件工程师，为气象仪器产品的研制生产积累了丰富的经验和大量的技术人才储备，目前已成为气象仪器行业研发和生产的骨干企业。</li>
    <li><img src="~/Content/about/c01.jpg" style="width:100%; height: auto;" /></li>
    <li style="text-align:center;"><b>企业办公楼外景</b></li>
    <li><img src="~/Content/about/c02.jpg" style="width:100%; height: auto;" /></li>
    <li style="text-align:center;"><b>综合办公中心</b></li>
    <li><img src="~/Content/about/c03.jpg" style="width:100%; height: auto;" /></li>
    <li style="text-align:center;"><b>会议交流中心</b></li>
    <li><img src="~/Content/about/c04.jpg" style="width:100%; height: auto;" /></li>
    <li style="text-align:center;"><b>产品研发中心</b></li>
    <li><img src="~/Content/about/c05.jpg" style="width:100%; height: auto;" /></li>
    <li style="text-align:center;"><b>产品测试中心</b></li>
</ul>