
@{
    ViewBag.Title = "联系华信";
}

<h2>市场销售</h2>
<ul style="list-style:none; padding: 0px; margin: 0px;">
    <li>电  话：0431-81150759</li>
    <li>电  话：0431-81948165</li>
    <li>电  话：0431-81948173</li>
    <li>传  真：0431-81948173</li>
    <li>Q Q：592048337</li>
    <li>Q Q：2598360086</li>
    <li>Q Q：546973276</li>
</ul>

<h2>技术支持</h2>
<ul style="list-style:none; padding: 0px; margin: 0px;">
    <li>电  话：0431-81948174</li>
</ul>

