
@{
    ViewBag.Title = "合作伙伴";
}

<h3>国内企业、单位</h3>
<hr />

<ul style="list-style:none; padding: 0px; margin: 0px;">
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_12.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_11.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_13.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_02.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_03.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_04.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_01.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_05.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_06.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_07.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_08.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_09.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/i_logo_10.png" style="width:100%;" />
    </li>
</ul>

<h3>国外公司</h3>
<hr />

<ul style="list-style:none; padding: 0px; margin: 0px;">
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/p_logo_03.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/p_logo_02.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/p_logo_04.png" style="width:100%;" />
    </li>
    <li style="margin-bottom: 3px;">
        <img src="~/Content/partner/p_logo_01.png" style="width:100%;" />
    </li>
</ul>